.App {
  background: #000;
  color: #fff;
  min-height: 100vh;
}

.container {
  opacity: 0.8;
}

.container h2 {
  padding-top: 10px;
  font-weight: bold;
}

/* .search-body {
  background-image: url("./image/dark-tweet.jpg");
  z-index: 0.5;
} */
.search {
  display: flex;
  gap: 10px;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 10px;
}

.search-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer {
  position: sticky;
  top: 100%;
}
